node_modules
dist
build

addToCart/node_modules
addToCart/package-lock.json

cart/node_modules
cart/package-lock.json

home/node_modules
home/package-lock.json

pdp/node_modules
pdp/package-lock.json

server/node_modules
server/package-lock.json